.landing-page {
  height: 100%;
  width: 80%;
}

.landing-page__inner {
  position: relative;
}

.search-form-container {
  display: flex;
  padding: 0.75rem 0;
}

.search-form .form__label {
  display: block;
  position: relative;
  width: 100%;
  max-width: 310px;
  margin: 0 auto;
}

.search-form .form__input {
  display: block;
  width: 350px;
  height: 45px;
  padding: 0 15px 0 35px;
  font-size: 16px;
  line-height: 45px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.search-form .form__input:focus {
  outline: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 450px;
  transition: 0.5s;
}

.search-form .btn-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 33px;
  height: 45px;
}

.search-form .btn {
  width: 100%;
  height: 100%;
  color: transparent;
  text-indent: -9999px;
  font-size: 0px;
  line-height: 1;
  border: none;
  background: transparent url('../../../public/imges/search-ico.png') 9px center
    no-repeat;
  background-size: 20px auto;
}

.map-container {
  position: relative;
  display: flex;
}

.map {
  width: 75%;
  height: 640px;
  border: 1px solid #eee;
}

.marker-title {
  display: block;
  max-width: 140px;
  font-weight: 700;
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-result {
  width: 25%;
  height: 642px;
}

.result-text {
  display: flex;
  height: 3%;
  align-items: center;
  padding: 0.75rem;
  font-size: 0.9375rem;
  background-color: #ecf4f7;
}

.result-keyword {
  margin-right: 0.25rem;
  font-weight: 700;
  color: #0f6fff;
}

.scroll-wrapper {
  height: 87%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f3f3f3;
  box-shadow: inset 0px 7px 9px -6px rgba(0, 0, 0, 0.1);
}

#places-list .item {
  background-color: #fff;
}

#places-list .item .info {
  position: relative;
  padding-left: 3rem;
  border-bottom: 1px solid #eee;
}

#places-list .item .info .marker {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  width: 30px;
  height: 30px;
  padding-top: 14px;
  font-weight: 700;
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  background: url('../../../public/imges/spot-ico.png') center center no-repeat;
  background-size: 30px auto;
}

#places-list .item a {
  display: block;
  padding: 0.5rem;
}

#places-list .item .info-item {
  display: block;
  font-size: 0.954rem;
  line-height: 1.6;
}

#places-list .item .info .place-name {
  font-weight: 700;
}

#places-list .item .info .address-name {
  position: relative;
  padding-left: 24px;
  color: #a8a8a8;
}

#places-list .item .info .address-name::before {
  content: '지번';
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 0.625rem;
  color: #fff;
  text-align: center;
  line-height: 14px;
  background-color: #bbb;
  border-radius: 4px;
  width: 22px;
  height: 14px;
}

#places-list .item .info .tel {
  margin-top: 0.5rem;
  color: #0f6fff;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.8%;
  padding: 0.5rem;
  background-color: #ecf4f7;
  box-shadow: 0 -4px 9px -3px rgba(0, 0, 0, 0.1);
}

.pagination a {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-weight: 200;
  font-size: 0.875rem;
}

.pagination a + a {
  margin-left: 0.5rem;
}

.pagination a.on {
  font-weight: 700;
  color: #0f6fff;
}

.flex-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.flex-grid--between {
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-grid--center {
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-grid--start {
  -webkit-box-pack: start;
  -moz-box-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-grid--end {
  -webkit-box-pack: end;
  -moz-box-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-grid--align-center {
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-grid--nowrap {
  -webkit-box-lines: single;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-grid--wrap {
  -webkit-box-lines: multiple;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-grid--dir-column {
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

input {
  border: 1px solid #bbb;
}

input,
textarea,
select {
  font-size: 16px;
}

button {
  display: block;
  border: 1px solid #bbb;
}

a {
  text-decoration: none;
  color: black;
}
